<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">eventBudgetApp</h3>
</div>

<h1>Event Budgeting</h1>
<h3>Edit Item</h3>
<p class="lead">
  <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
  <!-- {{testData[id]}} .-->

<form role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="name">
  </div>
  <div class="form-group">
    <label for="estcost">Estimated Cost</label>
    <input type="text" class="form-control" id="estcost" ng-model="estcost">
  </div>
      <div class="form-group">
    <label for="name">Actual Cost</label>
    <input type="text" class="form-control" id="actcost" ng-model="actcost">
  </div>
      <div class="form-group">
    <label for="name">Quantity</label>
    <input type="text" class="form-control" id="quantity" ng-model="quantity">
  </div>
</form>

</p>
<p><a class="btn btn-lg btn-success" href="#">Save</a></p>

<div class="footer">
  <p>λ from the Chris</p>
</div>
