<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">eventBudgetApp</h3>
</div>

<div class="jumbotron" data-ng-controller="MainCtrl">

  <h1>Event Budgeting</h1>
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    Name: <input type="text" ng-model="name" /> <br />
    Est. Cost: <input type="text" ng-model="estcost" /> <br />
    Act. Cost: <input type="text" ng-model="actcost" /> <br />
    Quantity: <input type="text" ng-model="quantity" /> <br />
    <ul>
        <li data-ng-repeat="item in testData">
          {{ item.name + '- Expected: $' + item.estcost + '; Actual: $' + item.actcost + '; Difference: $'}}  
          {{item.actcost - item.estcost}}
        </li>
        
    </ul> 
  </p>
  <p><button class="btn btn-lg btn-success" ng-click="newItem()">Add</a></p>
</div>

<div class="footer">
  <p>λ from the Chris</p>
</div>
